<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <title>PinkeyShop</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="PinkeyShop">
    <meta name="author" content="Alaa">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/vendor/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/vendor/fontawesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/vendor/owlcarousel/owl.carousel.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/vendor/owlcarousel/owl.theme.default.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/vendor/magnific-popup/magnific-popup.css') }}" media="screen">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/css/theme-elements.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/css/theme-blog.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/css/theme-shop.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/css/theme-animate.css') }}">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/vendor/rs-plugin/css/settings.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/vendor/circle-flip-slideshow/css/component.css') }}" media="screen">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/css/skins/default.css') }}">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/css/custom.css') }}">

    <!-- Head Libs -->
    <script src="{{ asset('templates/FrontEnd/vendor/vendor/modernizr/modernizr.js') }}"></script>

    <!--[if IE]>
    <link rel="stylesheet" href="{{ asset('templates/FrontEnd/css/ie.css') }}">
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="{{ asset('templates/FrontEnd/vendor/respond/respond.js') }}"></script>
    <script src="{{ asset('templates/FrontEnd/vendor/excanvas/excanvas.js') }}"></script>
    <![endif]-->

</head>
<body>

<div class="body">
    <header id="header">
        <div class="container">
            <div class="logo">
                <a href="{{path("index")}}">
                    <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="{{ asset('templates/FrontEnd/img/logo.png') }}">
                </a>
            </div>
            <div class="search">

                {{ render(controller('AlaaBundle:Default:searchBar')) }}
            </div>
            <nav>


                <ul class="nav nav-pills nav-top" class="dropdown">
                    <li >
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                        {% else %}
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}></a>
                        {% endif %}
                    </li>
                    <li>

                            <a href="{{ path('checkout') }}">Cart</a>

                    </li>
                    <li class="phone">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin') }}">Admin</a>
                        {% endif %}
                    </li>
                </ul>



            </nav>

            <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="navbar-collapse nav-main-collapse collapse">
            <div class="container">
                <ul class="social-icons">
                    <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                    <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                    <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                </ul>

            </div>
        </div>
    </header>
    <body>




